<a href="https://colab.research.google.com/github/vikrammitra/prometheus/blob/main/AlgoTradingTest01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sourcing Alpaca Credentials

In [1]:
credentials = open("/content/drive/MyDrive/Colab Notebooks/alpaca.txt","r")
lines = credentials.readlines()
consumer_key = lines[0].rstrip().replace("alpaca_key=","")
consumer_secret = lines[1].rstrip().replace("alpaca_secret=","")
#print(consumer_secret)

In [2]:
!pip install alpaca-trade-api requests beautifulsoup4

Collecting alpaca-trade-api
  Downloading alpaca_trade_api-3.0.2-py3-none-any.whl (34 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.10/dist-packages (from alpaca-trade-api) (1.5.3)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.10/dist-packages (from alpaca-trade-api) (1.22.4)
Requirement already satisfied: urllib3<2,>1.24 in /usr/local/lib/python3.10/dist-packages (from alpaca-trade-api) (1.26.16)
Requirement already satisfied: websocket-client<2,>=0.56.0 in /usr/local/lib/python3.10/dist-packages (from alpaca-trade-api) (1.6.1)
Collecting websockets<11,>=9.0 (from alpaca-trade-api)
  Downloading websockets-10.4-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.8/106.8 kB 3.3 MB/s eta 0:00:00
Collecting msgpack==1.0.3 (from alpaca-trade-api)
  Downloading msgpack-1.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (323 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 323.7/323.7 kB 6.7 MB/s eta 0:00:00
Collecting aiohttp==3.8.2 (from alpaca-trade-api)
  Downloading aiohttp-3.8.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 10.6 MB/s eta 0:00:00
Collecting PyYAML==6.0 (from alpaca-trade-api)
  Downloading PyYAML-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (682 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 682.2/682.2 kB 15.0 MB/s eta 0:00:00
Collecting deprecation==2.1.0 (from alpaca-trade-api)
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca-trade-api) (23.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca-trade-api) (2.0.12)
Collecting multidict<6.0,>=4.5 (from aiohttp==3.8.2->alpaca-trade-api)
  Downloading multidict-5.2.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (175 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 175.1/175.1 kB 18.9 MB/s eta 0:00:00
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca-trade-api) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca-trade-api) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca-trade-api) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca-trade-api) (1.3.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from deprecation==2.1.0->alpaca-trade-api) (23.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18.1->alpaca-trade-api) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18.1->alpaca-trade-api) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.18.1->alpaca-trade-api) (1.16.0)
WARNING: The candidate selected for download or install is a yanked version: 'aiohttp' candidate (version 3.8.2 at https://files.pythonhosted.org/packages/8f/52/ea1e5eac3e748a94fdaafba5ab68adfb833f0cbdb68cc8149fbba5574176/aiohttp-3.8.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (from https://pypi.org/simple/aiohttp/) (requires-python:>=3.6))
Reason for being yanked: This version includes overly restrictive multidict upper boundary disallowing multidict v6+. The previous patch version didn't have that and this is now causing dependency resolution problems for the users who have an "incompatible" version pinned. This is not really necessary anymore and will be addressed in the next release v3.8.3

https://github.com/aio-libs/aiohttp/pull/6950
Installing collected packages: msgpack, websockets, PyYAML, multidict, deprecation, aiohttp, alpaca-trade-api
  Attempting uninstall: msgpack
    Found existing installation: msgpack 1.0.5
    Uninstalling msgpack-1.0.5:
      Successfully uninstalled msgpack-1.0.5
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 6.0.1
    Uninstalling PyYAML-6.0.1:
      Successfully uninstalled PyYAML-6.0.1
  Attempting uninstall: multidict
    Found existing installation: multidict 6.0.4
    Uninstalling multidict-6.0.4:
      Successfully uninstalled multidict-6.0.4
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.8.5
    Uninstalling aiohttp-3.8.5:
      Successfully uninstalled aiohttp-3.8.5
Successfully installed PyYAML-6.0 aiohttp-3.8.2 alpaca-trade-api-3.0.2 deprecation-2.1.0 msgpack-1.0.3 multidict-5.2.0 websockets-10.4

In [32]:
import pandas as pd
from alpaca_trade_api import REST, Stream, TimeFrame,TimeFrameUnit
import requests
from bs4 import BeautifulSoup
from datetime import datetime
from datetime import timedelta

API_KEY = consumer_key
API_SECRET = consumer_secret

def fetch_news_summary(url):
    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.content, 'html.parser')
        summary = soup.find('p').text
        return summary.strip()
    except Exception as e:
        print(f"Error fetching news summary: {e}")
        return None

def get_news_data(ALPACA_API_KEY,ALPACA_SECRET_KEY,ticker):
    # Get News for last 24 hrs
    today = datetime.today()- timedelta(1)
    yesterday = today - timedelta(2)
    today = today.strftime('%Y-%m-%d')
    yesterday = yesterday.strftime('%Y-%m-%d')

    # Initialize Alpaca API
    # Get the news data
    rest_client = REST(ALPACA_API_KEY, ALPACA_SECRET_KEY)
    news_list = rest_client.get_news(ticker,yesterday,today)
    bars = rest_client.get_bars(ticker, TimeFrame(59, TimeFrameUnit.Minute), yesterday,today, adjustment='raw').df

    # Convert the news data into a pandas DataFrame
    data = {
        'Title': [],
        'Published': [],
        'Source': [],
        'Url': [],
        'Summary': []
    }

    for news in news_list:
        data['Title'].append(news.headline)
        data['Published'].append(news.created_at.strftime('%Y-%m-%d %H:%M'))
        data['Source'].append(news.source)
        data['Url'].append(news.url)
        data['Summary'].append(fetch_news_summary(news.url))

    df = pd.DataFrame(data)
    return df,bars

if __name__ == "__main__":
    news_df,bars_data = get_news_data(API_KEY,API_SECRET,"AAPL")

In [33]:
bars_data

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2023-07-31 07:08:00+00:00,195.8900,195.9000,195.3900,195.5900,8324,290,195.680316
2023-07-31 08:07:00+00:00,195.6900,195.8100,195.5900,195.7800,13394,333,195.715902
2023-07-31 09:06:00+00:00,195.8000,195.9500,195.5700,195.7000,13007,468,195.784594
2023-07-31 10:05:00+00:00,195.8300,195.9800,195.7400,195.9800,28030,719,195.885564
2023-07-31 11:04:00+00:00,195.9800,196.5400,195.7885,195.9500,166509,4280,196.122664
2023-07-31 12:03:00+00:00,196.3900,196.7100,195.5100,196.5400,204730,4278,196.460514
2023-07-31 13:02:00+00:00,196.5500,196.6000,195.3900,195.4200,5594175,106382,195.933186
2023-07-31 14:01:00+00:00,195.4200,196.4350,195.2600,196.2600,5450785,180651,195.970122
2023-07-31 15:00:00+00:00,196.2700,196.4900,195.9500,196.1300,3573413,46216,196.231030
2023-07-31 15:59:00+00:00,196.1216,196.2833,195.7700,195.9400,2698314,35922,196.034637
2023-07-31 16:58:00+00:00,195.9300,196.3900,195.7800,196.2100,2915668,33607,196.135873
2023-07-31 17:57:00+00:00,196.2084,196.3700,195.9350,196.2900,3056374,35820,196.173073
2023-07-31 18:56:00+00:00,196.3000,196.3500,195.7900,196.0400,4232008,50844,196.031290
2023-07-31 19:55:00+00:00,196.0400,196.5000,195.8800,196.4000,10761581,26373,196.400832
2023-07-31 20:54:00+00:00,196.4000,196.4500,196.3400,196.3600,33920,750,195.394349
2023-07-31 21:53:00+00:00,196.4000,196.4100,196.2600,196.3100,26439,628,196.346506
2023-07-31 22:52:00+00:00,196.3300,196.3600,196.1100,196.3500,18259,511,196.293039
2023-07-31 23:51:00+00:00,196.2900,196.3600,196.2500,196.3200,9946,201,196.299866
2023-08-01 07:43:00+00:00,196.3500,196.3500,195.8900,195.8900,8649,326,196.094968
2023-08-01 08:42:00+00:00,195.8900,196.0200,195.8100,195.8100,13031,258,195.891506
2023-08-01 09:41:00+00:00,195.8000,196.0300,195.8000,196.0300,7469,195,195.907737
2023-08-01 10:40:00+00:00,196.1400,196.2100,195.8500,195.9500,46455,912,196.030289
2023-08-01 11:39:00+00:00,195.9700,196.9900,195.7900,195.9300,149577,4744,196.006419
2023-08-01 12:38:00+00:00,195.9400,196.4900,195.8000,196.3800,2008849,23916,196.172047
2023-08-01 13:37:00+00:00,196.3850,196.7300,195.2800,195.6500,7932873,199198,196.016663
2023-08-01 14:36:00+00:00,195.6500,196.1800,195.5520,196.0000,3986014,58611,195.819271
2023-08-01 15:35:00+00:00,196.0001,196.0962,195.3500,195.6699,2980195,35874,195.742927
2023-08-01 16:34:00+00:00,195.6501,196.0400,195.5300,195.6100,2366929,31736,195.754846
2023-08-01 17:33:00+00:00,195.6100,196.2701,195.5300,195.9410,2976007,33553,196.009250
2023-08-01 18:32:00+00:00,195.9400,196.1200,195.6800,195.8000,2667462,34694,195.949828
2023-08-01 19:31:00+00:00,195.7900,195.9900,195.4500,195.8000,9455272,42685,195.654665
2023-08-01 20:30:00+00:00,195.7899,195.9300,195.3100,195.4300,264306,2350,195.616626
2023-08-01 21:29:00+00:00,195.4500,195.6000,194.0900,195.3300,200730,3361,195.052790
2023-08-01 22:28:00+00:00,195.1100,195.3300,195.0900,195.1800,53516,1077,195.206861
2023-08-01 23:27:00+00:00,195.1500,195.3000,195.0200,195.3000,28033,821,195.174794